@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0;
}

.App-header {
  background-color: white;
  min-height: 100px;
  padding: 40px;
  text-align: center;
}

nav,
.navbar,
.navbar-nav {
  margin-left: 0;
  margin-right: 0;
}

.nav-item {
  margin: 0 3rem;
  font-size: 3.5rem;
  font-family: "Just Another Hand", cursive;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  text-align: center;
}

/* Responsive */

@media (max-width: 400px) {
  .App-header {
    background-color: white;
    min-height: 30px;
    padding: 0px;
    text-align: center;
  }
  .nav-link {
    font-size: 2.5rem;
  }
  .navbar-brand {
    margin: 0;
    margin-top: 1rem;
  }
}

/* Quill Editor */
.ql-size-large {
  font-size: 2rem;
  line-height: 2rem;
}

.ql-size-huge {
  font-size: 3rem;
  line-height: 3rem;
}
