@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.PhotoList-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.PhotoList-item header h3 {
  margin: 3rem 0;
  font-size: 3.5rem;
  font-family: "Just Another Hand", cursive;
}

.PhotoList-content {
  height: 700px;
  max-width: 45%;
  margin: 2rem;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.PhotoList-text {
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.5rem;
}

.PhotoList-frame {
  background-image: url("../images/background_frame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 1rem;
  margin: 0 auto;
  width: 90%;
}

.PhotoList-image {
  position: relative;
  background-image: url("https://i.picsum.photos/id/877/200/300.jpg");
  background-position: center;
  background-size: contain;
  width: 50%;
  height: 60%;
  border-radius: 50%;
  top: 16%;
  margin: 0 auto;
  box-shadow: 0 0 8px 8px white inset;
}

/* Responsive */

@media (max-width: 1200px) {
  .PhotoList-image {
    width: 50%;
    height: 50%;
    top: 22%;
  }
}

@media (max-width: 992px) {
  .PhotoList-image {
    width: 50%;
    height: 35%;
    top: 30%;
  }
}

@media (max-width: 800px) {
  .PhotoList-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .PhotoList-content {
    height: 600px;
    max-width: 100%;
  }
  .PhotoList-frame {
    width: 100%;
    padding: 5rem;
  }
  .PhotoList-image {
    width: 200px;
    height: 300px;
    top: -15px;
  }
}

@media (max-width: 400px) {
  .PhotoList-frame {
    width: 100%;
    min-height: 300px;
    padding: 1rem;
  }
  .PhotoList-image {
    width: 150px;
    height: 200px;
    top: 30px;
  }
}
