@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.PhotoList-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.PhotoList-item header h3 {
  margin: 3rem 0;
  font-size: 3.5rem;
  font-family: "Just Another Hand", cursive;
}

.PhotoList-content {
  height: 700px;
  min-width: 35%;
  max-width: 45%;
  margin: 3rem;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.PhotoList-text {
  min-height: 100px;
  max-height: 400px;
  overflow: hidden;
  margin: 1.5rem;
  position: relative;
}

.PhotoList-text:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 95%
  );
  width: 100%;
  height: 8em;
}

.PhotoList-frame {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 4rem auto;
  margin-left: 3rem;
  width: 50%;
  max-width: 450px;
  max-height: 800px;
  margin-bottom: 8rem;
}

.PhotoList-image {
  position: relative;
  background-image: url("https://res.cloudinary.com/fedejimenez/image/upload/v1588180686/background_frame.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 130%;
  height: 130%;
  top: -12%;
  left: -15%;
}

/* Responsive */

@media (max-width: 1199px) {
  .PhotoList-frame {
    width: 100%;
    max-width: 350px;
    max-height: 500px;
    height: auto;
  }
  .PhotoList-image {
    padding-top: 4rem;
    width: 130%;
    height: 120%;
    top: -8%;
    left: -15%;
  }
}

@media (max-width: 992px) {
  .PhotoList-text {
    max-height: 200px;
    overflow: hidden;
    margin: 1.5rem;
    position: relative;
  }

  .PhotoList-frame {
    max-width: 350px;
    height: auto;
    max-height: 500px;
    margin-top: 6rem;
    margin-left: 0;
  }
  .PhotoList-image {
    padding-top: 4rem;
    width: 140%;
    height: 130%;
    top: -12%;
    left: -20%;
  }
}

@media (max-width: 800px) {
  .PhotoList-item {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
  }
  .PhotoList-content {
    height: auto;
    max-height: 600px;
    max-width: 100%;
  }
  .PhotoList-frame {
    width: 350px;
    height: 500px;
    margin-top: 4rem;
    margin-bottom: 6rem;
    margin-left: auto;
  }
  .PhotoList-image {
    padding-top: 4rem;
    width: 140%;
    height: 130%;
    top: -12%;
    left: -20%;
  }
}

@media (max-width: 492px) {
  .PhotoList-frame {
    width: 220px;
    height: 320px;
    margin-top: 1rem;
    margin-bottom: 6rem;
    margin-left: auto;
  }
  .PhotoList-image {
    padding-top: 4rem;
    width: 140%;
    height: 130%;
    top: -12%;
    left: -20%;
  }
  .PhotoList-content {
    height: auto;
    max-width: 100%;
  }
}
