.PostInfo-header h3 {
  margin: 3rem 0;
  font-size: 3.5rem;
  font-family: "Just Another Hand", cursive;
}

.PostInfo-content {
  margin: 3rem;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.PostInfo-text {
  margin: 1.5rem;
  position: relative;
}

.PostInfo-image {
  text-align: center;
}
.PostInfo-image img {
  box-shadow: 8px 8px 30px 30px #ddd;
}

.PostInfo-buttons {
  margin: 3rem;
  text-align: center;
}

.PostInfo-buttons button {
  margin: 0 2rem;
}
